<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30vh;
    }

    .center {
      margin: auto;
      width: 70%;
      padding: 70px;
      height: 20vh;
      right: 10px;
    }
    .middle {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10vh;
      color: rgb(0, 17, 255);
    }
  
  </style>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Appointment Status</title>
</head>

<body>
  <h1 class="middle"><strong>Appointment Status</strong></h1>
  <div class="flex justify-center">
    <table class="table-auto">
      <thead>
        <tr>
          <th class="px-4 py-2">ID</th>
          <th class="px-4 py-2">Doctor Name</th>
          <th class="px-4 py-2">Appointment Status</th>
          <th class="px-4 py-2">Time Slot</th>
        </tr>
      </thead>
      <tbody>
        {{range .Users}}
        <tr>
          <td class="border px-4 py-2">{{.ID}}</td>
          <td class="border px-4 py-2">{{.FirstName}} {{.LastName}}</td>
          <td class="border px-4 py-2"name="Is_Appointment">{{if .Is_Appointed}}Approved{{else}}Waiting{{end}}</td>
          <td class="border px-4 py-2">{{.TimeSlot}}</td>
        </tr>
        {{end}}
    </table>
  </div>
  <br>
  <div class="container">
    <br>
    {{range .Users}}
    <form action="/patients/{{.ID}}/home" method="get">
      <button
        class="px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600">
        Home </button>
    </form>
    {{end}}
  </div>
</body>

</html>