<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            background-image: url("/static/create.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 150px;
            width: 500px;

        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Create Schedule</title>
</head>

<body>
    <form action="/users/store" method="post">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <section class="max-w-4xl p-6 mx-auto bg-white rounded-md shadow-md dark:bg-gray-800">
            <h2 class="text-lg font-semibold text-gray-700 capitalize dark:text-white">Create Schedule</h2>

            <div>

                <select
                    class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    name="doctor_id">
                    <option value="" selected>Choose a Name</option>
                    {{range .Doctorlist}}
                    <option value="{{.ID}}">{{.Doctor_name}}</option>
                    {{end}}
                </select>
                {{ with (index .FormError "Doctor_id")}}
                <p style="color: brown;">{{.}}</p>
                {{end}}
            </div>

            <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
                <div>
                    <label class="text-gray-700 dark:text-gray-200" for="username">Start at
                    </label>
                    <input id="StartAt" type="time" name="StartAt" value="{{ .User.StartAt}}"
                        class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
                    {{ with (index .FormError "StartAt")}}
                    <p style="color: brown;">{{.}}</p>
                    {{end}}
                </div>
                <div>
                    <label class="text-gray-700 dark:text-gray-200" for="username">End at</label>
                    <input id="EndAt" type="time" name="EndAt" value="{{.User.EndAt}}"
                        class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
                    {{ with (index .FormError "EndAt")}}
                    <p style="color: brown;">{{.}}</p>
                    {{end}}
                </div>

                <div>
                    <label class="text-gray-700 dark:text-gray-200" for="WorkDays">Work Days</label>
                    <br>
                    <br>
                    <input id="WorkDays" type="radio" name="WorkDays" value="Saterday"
                        class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
                    <label class="text-gray-700 dark:text-gray-200" for="WorkDays">Saterday</label>

                    <input id="WorkDays" type="radio" name="WorkDays" value="Sunday"
                        class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
                    <label class="text-gray-700 dark:text-gray-200" for="WorkDays">Sunday</label>

                    <input id="WorkDays" type="radio" name="WorkDays" value="Monday"
                        class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
                    <label class="text-gray-700 dark:text-gray-200" for="WorkDays">Monday</label>

                    <input id="WorkDays" type="radio" name="WorkDays" value="Thuesday"
                        class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
                    <label class="text-gray-700 dark:text-gray-200" for="WorkDays">Thuesday</label>

                    <input id="WorkDays" type="radio" name="WorkDays" value="Wednesday"
                        class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
                    <label class="text-gray-700 dark:text-gray-200" for="WorkDays">Wednesday</label>

                    <input id="WorkDays" type="radio" name="WorkDays" value="Thursday"
                        class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
                    <label class="text-gray-700 dark:text-gray-200" for="WorkDays">Thursday</label>

                    <input id="WorkDays" type="radio" name="WorkDays" value="Friday"
                        class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
                    <label class="text-gray-700 dark:text-gray-200" for="WorkDays">Friday</label>

                    <br>
                    {{ with (index .FormError "WorkDays")}}
                    <p style="color: brown;">{{.}}</p>
                    {{end}}
                </div>

                <div>
                    <label class="text-gray-700 dark:text-gray-200" for="password">Address
                    </label>
                    <input id="Address" type="text" name="Address" value="{{.User.Address}}"
                        class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
                    {{ with (index .FormError "Address")}}
                    <p style="color: brown;">{{.}}</p>
                    {{end}}
                </div>
                <div>
                    <label class="text-gray-700 dark:text-gray-200" for="password">Phone
                    </label>
                    <input id="Phone" type="text" name="Phone" value="{{.User.Phone}}"
                        class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
                    {{ with (index .FormError "Phone")}}
                    <p style="color: brown;">{{.}}</p>
                    {{end}}
                </div>

            </div>

            <div class="flex justify-end mt-6">
                <button
                    class="px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600">Save
                </button>
            </div>
    </form>
    </section>
</body>

</html>