<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
          background-image: url("/static/adminHome.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
      }
  </style>
    <title>Home Page</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 h-screen font-sans">
    <nav class="bg-white p-6">
      <div class="container mx-auto flex items-center justify-between">
        <div class="flex items-center">
          <a href="/facultys/home">
            <img class="w-auto h-6 sm:h-7" src="/static/doctor-logo.jpg" style="width:50px;height:50px;" alt="">
        </a>
        </div>
        <div class="flex items-center">
          <a href="admin/registerdoctorschedule" class="px-3 py-2 text-gray-800 hover:bg-gray-300">Manage Schedule</a>
          <a href="#" class="px-3 py-2 text-gray-800 hover:bg-gray-300">Appoinment List</a>
          <a href="/doctor/logout" class="px-3 py-2 text-gray-800 hover:bg-gray-300">Log Out</a>
        </div>
    </nav>
  </body>
</html>
