<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    body {
      background-image:url("/static/log.png");
      background-size: cover;
    }
  </style>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Login here</title>
</head>

<body>
  <div class="flex h-screen justify-center items-center">
    <form class="bg-white p-6 rounded-lg shadow-xl" action="/loginpost" method="POST">
      <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
      <h2 class="text-lg font-medium mb-4">Login</h2>

      <label class="block text-gray-700 font-medium mb-2" for="username">
        User name
      </label>

      <input class="w-full p-2 border border-gray-400 rounded-lg" type="text" id="Username" name="Username"
      value="{{.Username}}" />
      <p style="color: red;">{{ .FormError.Username}}</p>
      <br>
      <label class="block text-gray-700 font-medium mb-2" for="password">
      Password
      </label>
      <input class="w-full p-2 border border-gray-400 rounded-lg" type="Password" id="Password" name="Password"
      value="{{.Password}}"/>
      <p style="color: red;">{{ .FormError.Password}}</p>
      <br>
      <br>
      <input type="radio" id="Admin" name="Loginas" value="Admin">
      <label for="Admin">Admin</label> 
      <input type="radio" id="Faculty" name="Loginas" value="Faculty">
      <label for="Faculty">Faculty</label>
      <input type="radio" id="patient" name="Loginas" value="Patient">
      <label for="Student">Patient</label>
      <p style="color: red;">{{ .FormError.Loginas}}</p>
      <br>
      <button class="bg-indigo-500 text-white py-2 px-4 rounded-lg hover:bg-indigo-600">
        Login
      </button>
      <button class="bg-indigo-500 text-white py-2 px-4 rounded-lg hover:bg-indigo-600">
        <a href="/mainhome">Home</a>
      </button> 
      <button class="bg-indigo-500 text-white py-2 px-4 rounded-lg hover:bg-indigo-600">
        <a href="/register">Registration</a>
      </button>
    </form>
  </div>
</body>

</html>