<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
      background-image:url("/static/adminHome.jpg");
      background-size: cover;
    }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title> Welcome </title>
  </head>
  <body class="bg-gray-200">
    <header class="bg-white p-6 shadow-md">
      <div class="flex items-center justify-between">
        <div>
          <img src="/static/schoollogo.jpg" style="height: 80px;width: 80px;"/>
        </div>
        <nav class="flex">
          <a href="/mainhome" class="px-4 py-2 text-gray-800 hover:text-gray-600">Home</a>
          <a href="/departments" class="px-4 py-2 text-gray-800 hover:text-gray-600">Programs</a>
          <a href="/faculty" class="px-4 py-2 text-gray-800 hover:text-gray-600">Faculty</a>
          <a href="career" class="px-4 py-2 text-gray-800 hover:text-gray-600">Career</a>
          <a href="/future" class="px-4 py-2 text-gray-800 hover:text-gray-600">Future Scope</a>
          <a href="/login" class="px-4 py-2 text-gray-800 hover:text-gray-600">Login</a>
        </nav>
      </div>
    </header>
    <main class="p-6">
      <h1 class="text-3xl font-bold" style="color: rgb(35, 66, 94);">Welcome to our School</h1>
      <p class="text-gray-700" style="color: rgb(54, 86, 114);">we are commited to give world class education</p>
    </main>
  </body>
</html>
